﻿#diffTreeContainer {
	width: 350px;
	display: inline-block;
	margin-top: 30px;
	float: left;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	/*border-radius: 6px;*/
}

#diffTreeContainer.collapsed {
	width: 55px;
}

#treeDiff {
	height: 650px;
	overflow: auto;
}

#treeDiff .jstree-icon.jstree-themeicon {
	display: none;
}

#treeDiff .isLeaf {
	font-style: normal;
	/*font-weight: bold;*/
}

#treeDiff .isLeaf.already-reviewed {
	font-weight: normal;
}

#treeDiff .count-badge {
	background: #f5f5f5;
	padding-left: 3px;
}

#treeDiff .jstree-anchor .count-badge .count {
	padding-left: 3px;
}

#treeDiff .jstree-anchor:hover .count-badge {
	background: rgb(231, 244, 249);
}


#treeDiff .jstree-anchor.jstree-clicked .count-badge {
	background: rgb(190, 235, 255);
	line-height: 20px;
}

#compare.diff-tree,
#changeset-diff.main.diff-tree {
	display: inline-block;
	padding-left: 10px;
	width: calc(100% - 362px);
}

#compare.diff-tree.collapsed,
#changeset-diff.main.diff-tree.collapsed {
	width: calc(100% - 67px);
}

#compare.diff-tree section.iterable-item.bb-udiff,
#changeset-diff.main.diff-tree section.iterable-item.bb-udiff {
	margin-top: 0;
}

#diffTreeContainer .dt-actions {
	height: 40px;
	border-bottom: 1px solid #ccc;
	padding: 0 5px;
}

#diffTreeContainer .dt-actions .dt-action-item {
	float: right;
	display: inline-block;
	width: 20px;
	line-height: 40px;
	color: #aaa;
}

#diffTreeContainer .dt-actions .dt-action-item .aui-icon:before {
	font-size: 16px;
}