body { font-family: arial, Verdana, sans-serif; font-size: 12px; width: auto; overflow: visible; margin: 0; padding: 0; }

.menu-item {
    white-space: nowrap;
    line-height: 26px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 0 6px;
    padding-right: 25px;
    -webkit-user-select: none;
    user-select: none;
}
.menu-item:hover {
    border: 1px solid #c4cdd3;
    background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(227,235,242) 50%,rgb(230,240,248) 100%);
}

.menu-item.noicon  { padding-right: 6px; }
.menu-item.noicon .menu-item-text { padding-left: 0; }

.menu-item.disabled { color: #999; }
.menu-item.disabled:hover {  border: 1px solid #e8e8e8; background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(250,250,250) 50%,rgb(252,252,252) 100%);  }

.menu-separator { width: 100%; border-top: 1px solid #ddd; margin: 5px 0; }

.menu-item-text {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding-left: 26px;
    background-position: left center;
    background-repeat: no-repeat;
}