#diffTreeWrapper {
	width: 100%;
	margin-top: 20px;
}

#diffTreeWrapper #diffTreeContainer {
	width: 30%;
	background-color: #ffffff;
	border-top: 1px solid #ccc;
	/*border-radius: 6px 0 0 6px; */
}

#diffTreeWrapper #diffTreeContainer.collapsed {
	width: 55px;
}

#diffTreeWrapper #treeDiff {
	height: 650px;
	overflow: auto;
	background-color: #f5f5f5;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#diffTreeWrapper #treeDiff .jstree-icon.jstree-themeicon {
	display: none;
}

#diffTreeWrapper treeDiff .isLeaf {
	font-style: normal;
	/*font-weight: bold;*/
}

#diffTreeWrapper #treeDiff .isLeaf.already-reviewed {
	font-weight: normal;
}

#diffTreeWrapper #treeDiff .count-badge {
	background: #f5f5f5;
	padding-left: 3px;
}

#diffTreeWrapper #treeDiff .jstree-anchor .count-badge .count {
	padding-left: 3px;
}

#diffTreeWrapper #treeDiff .jstree-anchor:hover .count-badge {
	background: rgb(231, 244, 249);
}

#diffTreeWrapper #treeDiff .jstree-anchor.jstree-clicked .count-badge {
	background: rgb(190, 235, 255);
	line-height: 20px;
}

#diffTreeWrapper #diffTreeContainer #treeEmpty {
	position:absolute;
	padding:10px;
}

#diffTreeWrapper #treeDiff .fileIcon {
	color: #4B6884;
	cursor: pointer;
}

#diffTreeWrapper #treeDiff li.isReviewed > a > span.fileIcon {
	color: #1D8832;
}

#diffTreeWrapper #treeDiff li.hasComment > a > span.fileIcon {
	color: #FDA428;
}

#diffTreeWrapper #treeDiff li.isReviewed > a > span.folderIcon {
	/* color: #1D8832 !important; */
}

#diffTreeWrapper #treeDiff li.isReviewed > a > span.folderIcon::before {
	content: "\f104";
}

#diffTreeWrapper #treeDiff li.isReviewed > a > span.fileIcon::before {
	content: "\f104";
}

#diffTreeWrapper #treeDiff .jstree-anchor {
	cursor: default;
}

#diffTreeWrapper .diff-tree-aside section.iterable-item.bb-udiff {
	margin-top: 0;
}

#diffTreeWrapper .diff-tree-aside .diff-container {
	margin-left: 0;
	padding-left: 0;
}

#diffTreeWrapper #diffTreeContainer .dt-actions {
	height: 40px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display: flex;
	flex-direction: row-reverse;
}

#diffTreeWrapper #diffTreeContainer .dt-actions .dt-action-group {
	border-left: 1px solid #ccc;
	padding: 0 5px;
	display: inline-block;
	float: right;
}

#diffTreeWrapper #diffTreeContainer .dt-actions .dt-action-group:last-child {
	border-left: none;
}

#diffTreeWrapper #diffTreeContainer .dt-actions .dt-action-item {
	width: 20px;
	line-height: 40px;
	color: #707070;
	display: inline-block;
}

#diffTreeWrapper #diffTreeContainer .dt-actions .dt-action-item:focus {
	outline: 0px solid #4C9AFF;
}

#diffTreeWrapper #diffTreeContainer .dt-actions .dt-action-item.selected {
	color: blue;
}

#diffTreeWrapper #diffTreeContainer .dt-actions #btnCompactEmptyFoldersToggle.dt-action-item {

}

#diffTreeWrapper #diffTreeContainer .dt-actions #btnCompactEmptyFoldersToggle.dt-action-item .aui-icon:before {
	font-size: 14px;
	font-weight: bold;
}

#diffTreeWrapper #diffTreeContainer .dt-actions .dt-action-item .aui-icon:before {
	font-size: 16px;
}

#diffTreeWrapper #diffTreeContainer #newVersionIndicator span.aui-icon:before {
	font-size: 14px;
}

#diffTreeWrapper #compare {
	/* tab-size: 4; */
}

#diffTreeWrapper #compare .refract-container .addition pre.source ins,
#diffTreeWrapper #compare .refract-container .deletion pre.source del {
    display: inline !important;
}

#diffTreeWrapper #changeset-diff {
    margin-top: 0px !important;
}

/* Resizable panels */
#diffTreeWrapper {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	
	/* avoid browser level touch actions */
	xtouch-action: none;
}

#diffTreeWrapper #diffTreeContainer {
	flex: 0 0 auto;
	width: 400px;
	min-height: 200px;
	min-width: 200px;
	max-width: 50%;
	white-space: nowrap;
}

#diffTreeWrapper .splitter {
	flex: 0 0 auto;
	width: 10px;  
	background: url('https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png') center center no-repeat #ffffff;
	min-height: 200px;
	cursor: col-resize;  
}

#diffTreeWrapper .splitter-horizontal {
	flex: 0 0 auto;
	height: 10px;
	background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #ccc;
	cursor: row-resize;
}

#diffTreeWrapper #treeDiff {
	flex: 0 0 auto;
	/* only manually resize */
	min-height: 200px;
	white-space: nowrap;
}

#diffTreeWrapper .splitter:hover,
#diffTreeWrapper .splitter-horizontal:hover {
	background-color: #ccc;
}

#diffTreeWrapper .diff-tree-aside {
	flex: 1 1 auto;
	width: 100%;
	min-height: 200px;
	min-width: 200px;
	padding-left: 0 !important;
}

#diffTreeWrapper .bb-udiff .heading {
	border-top-left-radius: 0;
}

#diffTreeWrapper .diff-content-container {
	border-bottom-left-radius: 0;
}

#diffTreeWrapper .searchBox {
	padding-right: 10px;
	margin-top: -4px;
	width: 100%;
}

#diffTreeWrapper .searchBox #searchBox {
	width: 100%;
	position: relative;
	padding-right: 15px;
}

#diffTreeWrapper .searchBox .aui-icon {
	margin-left: -18px;
}
/* END - Resizable panels */