#diffTreeWrapper {
	width: 100%;
	margin-top: 20px;
}

#diffTreeContainer {
	width: 30%;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	/*border-radius: 6px 0 0 6px; */
}

#diffTreeContainer.collapsed {
	width: 55px;
}

#treeDiff {
	height: 650px;
	overflow: auto;
}

#treeDiff .jstree-icon.jstree-themeicon {
	display: none;
}

#treeDiff .isLeaf {
	font-style: normal;
	/*font-weight: bold;*/
}

#treeDiff .isLeaf.already-reviewed {
	font-weight: normal;
}

#treeDiff .count-badge {
	background: #f5f5f5;
	padding-left: 3px;
}

#treeDiff .jstree-anchor .count-badge .count {
	padding-left: 3px;
}

#treeDiff .jstree-anchor:hover .count-badge {
	background: rgb(231, 244, 249);
}

#treeDiff .jstree-anchor.jstree-clicked .count-badge {
	background: rgb(190, 235, 255);
	line-height: 20px;
}

#treeDiff .fileIcon {
	color: #4B6884;
}

#treeDiff .isReviewed .fileIcon{
	color: #1D8832;
}

#treeDiff .hasComment .fileIcon{
	color: #FDA428;
}

.diff-tree-aside section.iterable-item.bb-udiff {
	margin-top: 0;
}

.diff-tree-aside .diff-container {
	margin-left: 0;
	padding-left: 0;
}

#diffTreeContainer .dt-actions {
	height: 40px;
	border-bottom: 1px solid #ccc;
}

#diffTreeContainer .dt-actions .dt-action-group {
	border-left: 1px solid #ccc;
	padding: 0 5px;
	display: inline-block;
	float: right;
}

#diffTreeContainer .dt-actions .dt-action-group:last-child {
	border-left: none;
}

#diffTreeContainer .dt-actions .dt-action-item {
	width: 20px;
	line-height: 40px;
	color: #707070;
	display: inline-block;
}

#diffTreeContainer .dt-actions #btnCompactEmptyFoldersToggle.dt-action-item {

}

#diffTreeContainer .dt-actions #btnCompactEmptyFoldersToggle.dt-action-item .aui-icon:before {
	font-size: 14px;
	font-weight: bold;
}

#diffTreeContainer .dt-actions .dt-action-item .aui-icon:before {
	font-size: 16px;
}

#diffTreeContainer #newVersionIndicator span.aui-icon:before {
	font-size: 14px;
}

#compare {
	/* tab-size: 4; */
}

#compare .refract-container .addition pre.source ins,
#compare .refract-container .deletion pre.source del {
    display: inline !important;
}

#diffTreeWrapper #changeset-diff {
    margin-top: 0px !important;
}


#diffTreeWrapper {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	
	/* avoid browser level touch actions */
	xtouch-action: none;
}

/* Resizable panels */
#diffTreeContainer {
	flex: 0 0 auto;
	width: 400px;
	min-height: 200px;
	min-width: 200px;
	max-width: 50%;
	white-space: nowrap;
}

#diffTreeWrapper .splitter {
	flex: 0 0 auto;
	width: 10px;  
	background: url('https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png') center center no-repeat #ffffff;
	min-height: 200px;
	cursor: col-resize;  
}

#diffTreeWrapper .splitter:hover {
	background-color: #ccc;
}

#diffTreeWrapper .diff-tree-aside {
	flex: 1 1 auto;
	width: 100%;
	min-height: 200px;
	min-width: 200px;
	padding-left: 0 !important;
}

#diffTreeWrapper .bb-udiff .heading {
	border-top-left-radius: 0;
}

#diffTreeWrapper .diff-content-container {
	border-bottom-left-radius: 0;
}
/* END - Resizable panels */